<div>
    <table>
        <tr>
            <th><button md-button (click)="onClickHeader('market_cap_usd')">market cap usd</button></th>
            <th><button md-button (click)="onClickHeader('percent_change_1h')">1h%</button></th>
            <th><button md-button (click)="onClickHeader('percent_change_24h')" >24h%</button></th>
            <th><button md-button (click)="onClickHeader('percent_change_7d')">7 days%</button></th>
            <th><button md-button (click)="onClickHeader('price_usd')">$US</button></th>
            <th><button md-button (click)="onClickHeader('rank')">Rank</button></th>
            <th><button md-button (click)="onClickHeader('symbol')">Symbol</button></th>
        </tr>

        <tbody *ngFor="let item of modelCoins">

        <tr>
            <td>{{item.market_cap_usd}}</td>
            <td>{{item.percent_change_1h}}</td>
            <td>{{item.percent_change_24h}}</td>
            <td>{{item.percent_change_7d}}</td>
            <td>{{item.price_usd}}</td>
            <td>{{item.rank}}</td>
            <td>{{item.symbol}}</td>
            <td>{{item.name}}</td>
        </tr>

        </tbody>
    </table>


</div>
